.cards {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.card {
  box-shadow: 1px 1px 5px rgba(100, 100, 100, 0.8);
  margin: 10px;
  position: relative;
}

.card img {
  height: 150px;
  width: 150px;
  width: 100%;
  margin: auto;
}

.card .card-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.card h3 , .card p {
  margin: 20px 15px;
  text-shadow: 1px 1px 3px rgba(50, 50, 50, 0.1);
}
