.footer {
  background-color: #2c2b2b;
  height: 250px;
  display: flex;
  align-items: center;
}

.footer ul {
  list-style: none;
  text-align: center;
  padding: 0;
}
.footer ul a {
  display: inline;
  margin: 10px;
  font-size: 35px;
  color: #1edd88;
}

.footer p {
   color: rgb(87, 85, 85);
   text-shadow: 1px 1px 3px rgba(20, 20, 20, 0.5);
   text-align: center;
}
